
<h1> Submit new contact </h1>

<form action="/new" method="POST">
  <label for="first_name">Contact first name:</label><br>
  <input type="text" name="first_name"><br><br>
  <label for="last_name">Contact last name:</label><br>
  <input type="text" name="last_name"><br><br>
  <label for="phone_number">Phone number with country code <br>
      (please no spaces or dashes)</label><br>
  <input type="text" name="phone_number"><br>
  <input type="submit" name="Submit entry">
</form>
